:root {
  --mainColor: #406ab3;
  --mainColor10: #406ab310;
  --mainColor30: #406ab330;
  --secondColor: #eb9c22;
  --secondColor10: #eb9c2210;
  --secondColor30: #eb9c2230;
  --gold: #ffd700;
  --whiteColor: #ffffff;
  --blackColor: #1f1f1f;
  --bodyColor: #fdfeff;
  --textColor: #898989;
  --transition: all 0.3s ease-in-out;
  --shadow: 0px 2px 4px #c1c1c1;
  --BigShadow: 0 16px 32px 0 #071c1f1a;
}

@font-face {
  font-family: madani;
  font-display: swap;
  src: url(../webfonts/Madani.woff);
}
* {
  font-family: "madani", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  direction: rtl;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  border-radius: 0px !important;
}

::-webkit-scrollbar-track {
  border-radius: 0px !important;
  background: var(--backgroundColor);
  box-shadow: inset 1px 1px 2px #cfcfd4, inset -1px -1px 2px #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  outline: none;
  border-radius: 20px !important;
}

:target {
  scroll-margin-top: 50px;
}

a {
  text-decoration: none;
  transition: var(--transition) !important;
  color: var(--blackColor);
}

a:hover {
  text-decoration: none;
  color: var(--mainColor);
}

button {
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.row {
  margin: 0px;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 100;
}

@media (max-width: 767px) {
  .container,
.container-fluid {
    padding: 0px 8px;
  }
}
video,
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

.navbar-toggler {
  border: none;
  box-shadow: none !important;
}

.btn:focus {
  box-shadow: none;
}

body {
  background-color: var(--bodyColor);
  overflow-x: hidden;
}

input {
  accent-color: var(--mainColor) !important;
}

.odometer-inside {
  direction: ltr !important;
}

.modal-backdrop {
  --bs-backdrop-opacity: 0.8;
}

.fancybox__container {
  z-index: 1999;
}

.form-check {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0;
}

.form-check-input {
  width: 20px;
  height: 20px;
  margin: 0 !important;
  float: none !important;
}
.form-check-input:checked {
  background-color: var(--mainColor);
  border-color: var(--mainColor);
}
.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(0, 89, 91, 0.1882352941);
}

::-moz-placeholder {
  font-size: 12px;
  color: #bababa !important;
  font-weight: normal !important;
}

:-ms-input-placeholder {
  font-size: 12px;
  color: #bababa !important;
  font-weight: normal !important;
}

::placeholder {
  font-size: 12px;
  color: #bababa !important;
  font-weight: normal !important;
}

[type=email],
[type=number],
[type=tel],
[type=url] {
  direction: rtl;
}

.swiperContainer {
  position: relative;
}
.swiperContainer .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiperContainer .swiper-button-next,
.swiperContainer .swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mainColor);
  background-color: var(--whiteColor);
  border-radius: 2px;
  transition: var(--transition);
}
.swiperContainer .swiper-button-next::after,
.swiperContainer .swiper-button-prev::after {
  content: "" !important;
  background-image: url(../img/icons/arrow.svg);
  background-size: contain;
  width: 30px;
  height: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  transition: var(--transition);
}
.swiperContainer .swiper-button-next:hover,
.swiperContainer .swiper-button-prev:hover {
  background-color: var(--mainColor);
  color: var(--whiteColor);
}
.swiperContainer .swiper-button-next:hover::after,
.swiperContainer .swiper-button-prev:hover::after {
  filter: invert(1);
}
@media (max-width: 768px) {
  .swiperContainer .swiper-button-next,
.swiperContainer .swiper-button-prev {
    display: none;
  }
}
.swiperContainer .swiper-button-next {
  left: -60px;
  right: unset;
}
@media (max-width: 1240px) {
  .swiperContainer .swiper-button-next {
    left: 0px;
  }
}
.swiperContainer .swiper-button-prev {
  right: -60px;
  left: unset;
}
@media (max-width: 1240px) {
  .swiperContainer .swiper-button-prev {
    right: 0px;
  }
}
.swiperContainer .swiper-button-prev::after {
  transform: scaleX(-1);
}
.swiperContainer .swiper-pagination {
  width: auto !important;
  left: 50% !important;
  transform: translateX(-50%);
  background-color: transparent;
  border-radius: 2px;
  padding: 0px 10px;
  transition: var(--transition);
}
.swiperContainer .swiper-pagination .swiper-pagination-bullet {
  transition: var(--transition);
  width: 16px;
  border-radius: 2px;
  opacity: 0.3;
  background-color: var(--mainColor);
  margin: 2px !important;
}
.swiperContainer .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--mainColor);
  width: 40px;
  opacity: 1;
  transition: var(--transition);
}

.select2-container--default .select2-selection--single {
  display: flex;
  align-items: center;
  border: 1px solid #eee;
  min-height: 54px;
  background-color: #fdfdfd;
  border-radius: 4px;
  padding: 0 10px;
}

.select2 {
  min-width: 100px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: unset;
  top: 50%;
  transform: translateY(-50%);
}

span.select2.select2-container.select2-container--default {
  width: 100% !important;
}

.select2-results__option--selectable {
  border-radius: 0px;
  margin-bottom: 2px;
  padding: 12px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: var(--secondColor) !important;
  color: var(--whiteColor) !important;
}

.select2-dropdown {
  border-radius: 4px;
  box-shadow: var(--BigShadow) !important;
  border-color: transparent;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0px;
}

.fancybox__track,
.fancybox__content,
.carousel__track {
  direction: ltr !important;
}

.fancybox__caption {
  text-align: center;
}

.filepond--credits {
  display: none !important;
}

.filepond--image-clip {
  direction: ltr !important;
}

.BigTitle {
  background-image: url(../img/bg.jpg);
  background-color: var(--mainColor);
  font-size: 80px;
  -webkit-background-clip: text;
          background-clip: text;
  font-weight: bold;
  -webkit-text-fill-color: transparent;
}

body {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.btn {
  background-color: var(--mainColor);
  color: var(--whiteColor);
  border: 1px solid var(--mainColor);
  padding: 12px 32px;
  transition: var(--transition);
}
.btn:hover {
  background-color: transparent;
  color: var(--mainColor);
}
.btn.btnOutline {
  background-color: transparent;
  color: var(--mainColor);
}
.btn.btnOutline:hover {
  background-color: var(--mainColor);
  color: var(--whiteColor);
}

.btn2 {
  background-color: var(--secondColor);
  color: var(--whiteColor);
  border: 1px solid var(--secondColor);
  padding: 12px 32px;
  transition: var(--transition);
}
.btn2:hover {
  background-color: transparent;
  color: var(--secondColor);
}
.btn2.btnOutline {
  background-color: transparent;
  color: var(--secondColor);
}
.btn2.btnOutline:hover {
  background-color: var(--secondColor);
  color: var(--whiteColor);
}

.inputField {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  flex: 1;
}
.inputField label {
  color: var(--textColor);
}

.checkBoxField {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 24px;
  min-width: 150px;
}
.checkBoxField label {
  cursor: pointer;
}
.checkBoxField input[type=checkbox] {
  width: 20px;
  height: 20px;
  border-radius: 8px;
  cursor: pointer;
}

.inputForm {
  border: 1px solid #eee;
  min-height: 54px;
  background-color: #fdfdfd;
  border-radius: 4px;
  padding: 0 10px;
  min-width: 150px;
  width: 100% !important;
}

textarea.inputForm {
  padding: 10px;
}

::-moz-placeholder {
  font-size: 12px !important;
}

:-ms-input-placeholder {
  font-size: 12px !important;
}

::placeholder {
  font-size: 12px !important;
}

.loginPage {
  position: relative;
  min-height: 100vh;
  padding: 40px 0;
  background-image: linear-gradient(to right top, #ffd08a, #e7c28c, #91d0ed, #b9d3ff, #4589ff);
  background-size: 400% 400%;
  -webkit-animation: gradient 10s ease-in-out infinite;
          animation: gradient 10s ease-in-out infinite;
  display: flex;
  transition: var(--transition);
}
.loginPage .formContainer {
  background-color: var(--whiteColor);
  box-shadow: var(--BigShadow);
  position: relative;
  height: 80vh;
  width: min(100% - 30px, 1200px);
  margin: auto;
  overflow-x: hidden;
  border-radius: 24px;
  transition: var(--transition);
}
@media (max-width: 768px) {
  .loginPage .formContainer {
    height: 100%;
  }
}
.loginPage .formContainer .sign {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  transition: var(--transition);
}
@media (max-width: 768px) {
  .loginPage .formContainer .sign {
    position: relative;
  }
}
.loginPage .formContainer .sign .imgBox {
  position: relative;
  width: 50%;
  height: 100%;
  background: var(--mainColor10);
  transition: var(--transition);
  display: flex;
}
@media (max-width: 768px) {
  .loginPage .formContainer .sign .imgBox {
    display: none;
  }
}
.loginPage .formContainer .sign .imgBox img {
  width: 70%;
  height: 70%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto;
  transition: var(--transition);
}
.loginPage .formContainer .sign .imgBox.imgBox2 {
  background-color: var(--secondColor10);
}
.loginPage .formContainer .sign .formBox {
  position: relative;
  width: 50%;
  height: 100%;
  background: var(--whiteColor);
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  transition: var(--transition);
  overflow-y: auto;
}
@media (max-width: 768px) {
  .loginPage .formContainer .sign .formBox {
    width: 100%;
  }
}
.loginPage .formContainer .sign .formBox form {
  width: min(100% - 30px, 450px);
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: auto;
  transition: var(--transition);
}
.loginPage .formContainer .sign .formBox form p {
  margin-top: 10px;
}
.loginPage .formContainer .sign .formBox form .col {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.loginPage .formContainer .sign .formBox p {
  color: var(--textColor);
}
.loginPage .formContainer .sign .formBox p a {
  color: var(--mainColor);
}
.loginPage .formContainer .sign .formBox p a:hover {
  color: var(--secondColor);
}
.loginPage .formContainer .sign.register {
  pointer-events: none;
}
@media (max-width: 768px) {
  .loginPage .formContainer .sign.register {
    height: 0;
    overflow: hidden;
  }
}
.loginPage .formContainer .sign.register .formBox {
  right: 100%;
}
.loginPage .formContainer .sign.register .imgBox {
  right: -100%;
}
@media (max-width: 768px) {
  .loginPage .formContainer .sign.login {
    height: auto;
    overflow: unset;
  }
}
.loginPage .formContainer .sign.login .formBox {
  right: 0;
}
.loginPage .formContainer .sign.login .imgBox {
  right: 0;
}
.loginPage .formContainer.active .register {
  pointer-events: initial;
}
@media (max-width: 768px) {
  .loginPage .formContainer.active .register {
    height: auto;
    overflow: unset;
  }
}
.loginPage .formContainer.active .register .formBox {
  right: 0;
}
.loginPage .formContainer.active .register .imgBox {
  right: 0;
}
@media (max-width: 768px) {
  .loginPage .formContainer.active .login {
    height: 0;
    overflow: hidden;
  }
}
.loginPage .formContainer.active .login .formBox {
  right: -100%;
}
.loginPage .formContainer.active .login .imgBox {
  right: 100%;
}
.loginPage .logo {
  width: 100%;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 20px;
}
@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1024;
  transition: var(--transition);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.1882352941);
}
@media (max-width: 576px) {
  header {
    background-color: var(--bodyColor);
  }
}
header nav {
  width: min(100% - 20px, 1320px);
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 16px 0;
  gap: 8px;
}
header nav .logo {
  margin: auto 0;
}
header nav .logo img {
  height: 45px;
  transition: var(--transition);
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 576px) {
  header nav .logo img {
    height: 35px;
  }
}
header nav .navMenu {
  display: flex;
  width: 100%;
  justify-content: end;
  gap: 6px;
  transition: var(--transition);
}
header nav .navMenu .navLink {
  padding: 4px 12px;
  display: flex;
  align-items: center;
  color: var(--blackColor);
}
header nav .navMenu .navLink:hover {
  color: var(--mainColor);
}
header nav .navMenu .navLink.btn {
  border: 1px solid var(--mainColor);
  border-radius: 8px;
  background-color: var(--mainColor);
  color: var(--whiteColor);
  padding: 8px 24px;
}
@media (max-width: 992px) {
  header nav .navMenu {
    position: fixed;
    z-index: -1;
    right: -100%;
    top: 0px;
    width: 100%;
    height: 100vh;
    padding: 60px 0;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bodyColor);
    align-items: center;
  }
  header nav .navMenu .navLink {
    text-align: center;
    justify-content: center;
    padding: 12px;
  }
}
header nav .navMenu.active {
  right: 0;
}
header nav .navBtn {
  margin: auto 0;
  position: relative;
  min-width: 24px;
  height: 24px;
  padding: 5px;
  cursor: pointer;
  transition: var(--transition);
  z-index: 2;
}
header nav .navBtn span {
  position: absolute;
  left: 0;
  display: block;
  width: 24px;
  height: 2px;
  background-color: var(--mainColor);
  margin: 4px 0;
  transition: var(--transition);
}
header nav .navBtn span:first-child {
  top: 0;
}
header nav .navBtn span:nth-child(2) {
  width: 10px;
  top: 7px;
}
header nav .navBtn span:nth-child(3) {
  width: 16px;
  bottom: 0;
}
header nav .navBtn:not(.active):hover span:first-child {
  width: 16px;
}
header nav .navBtn:not(.active):hover span:nth-child(2) {
  width: 20px;
}
header nav .navBtn.active span {
  background-color: var(--mainColor) !important;
}
header nav .navBtn.active span:first-child {
  transform: rotate(45deg);
  top: 8px;
  width: 20px;
}
header nav .navBtn.active span:nth-child(2) {
  width: 0;
  opacity: 0;
}
header nav .navBtn.active span:last-child {
  transform: rotate(-45deg);
  top: 8px;
  width: 20px;
}
@media (min-width: 992px) {
  header nav .navBtn {
    display: none;
  }
}
header nav .icon {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}
header .dropdown {
  position: relative;
  padding: 12px;
  border: 1px solid #eee;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  margin: 0 5px;
  max-width: 100%;
  gap: 8px;
}
header .dropdown .dropdown-content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: calc(0% + 50px);
  width: 100%;
  border-radius: 8px;
  padding: 4px 0px;
  z-index: 1;
  background-color: var(--whiteColor);
  box-shadow: 0px 0px 24px 0px rgba(59, 59, 59, 0.0705882353);
  transition: var(--transition);
}
header .dropdown .dropdown-content .dropdownItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 8px 16px;
  color: var(--blackColor);
}
header .dropdown .dropdown-content .dropdownItem img {
  width: 30px;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
  margin-left: 8px;
}
header .dropdown:hover .dropdown-content {
  opacity: 1;
  visibility: visible;
  top: 0%;
}

.headerAnimate {
  box-shadow: var(--BigShadow);
  padding: 0 5px;
  background-color: var(--whiteColor);
}

.controlSection {
  width: min(100% - 20px, 1320px);
  margin: 24px auto;
  display: flex;
  flex-wrap: wrap;
  padding: 60px 40px;
  border-radius: 16px;
  gap: 16px;
  background-color: var(--bodyColor);
  box-shadow: inset 9px 9px 9px #eeeff0, inset -9px -9px 9px #ffffff;
}
.controlSection .control {
  text-align: center;
  flex: 1;
  min-width: 150px;
  padding: 24px 16px;
  background-color: var(--mainColor10);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  color: var(--blackColor);
  position: relative;
  transition: var(--transition);
}
.controlSection .control img {
  height: 60px;
  width: 60px;
  -o-object-fit: contain;
     object-fit: contain;
}
.controlSection .control:hover {
  z-index: 2;
  box-shadow: var(--BigShadow);
  transform: translate(0, -5px);
}

.exam {
  width: min(100% - 20px, 1320px);
  margin: 24px auto;
  display: flex;
}
.exam .multisteps_form {
  width: 100%;
  height: auto;
}
.exam .multisteps_form .multisteps_form_panel {
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
  overflow: hidden;
  height: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.exam .multisteps_form .multisteps_form_panel .form_content {
  display: none;
}
.exam .multisteps_form .multisteps_form_panel .form_content .question_title h1 {
  font-size: 30px;
  font-weight: 600;
}
@media (max-width: 768px) {
  .exam .multisteps_form .multisteps_form_panel .form_content .question_title h1 {
    font-size: 22px;
  }
}
.exam .multisteps_form .multisteps_form_panel .form_content .form_items {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.exam .multisteps_form .multisteps_form_panel .form_content .form_items label {
  padding: 16px;
  border: 3px solid #efefef;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  flex: 1;
  min-width: 200px;
}
.exam .multisteps_form .multisteps_form_panel .form_content .form_items label:after {
  content: "";
  width: 20px;
  height: 20px;
  top: 8px;
  left: 8px;
  position: absolute;
  border-radius: 100%;
  border: 2px solid #e2e2e2;
}
.exam .multisteps_form .multisteps_form_panel .form_content .form_items label.active {
  border: 3px solid #ff980f;
  transition: var(--transition);
}
.exam .multisteps_form .multisteps_form_panel .form_content .form_items label.active:before {
  display: block;
}
.exam .multisteps_form .multisteps_form_panel .form_content .form_items label input {
  opacity: 0;
  position: absolute;
}
.exam .multisteps_form .multisteps_form_panel .form_content .form_items label input:checked + span.checked:after {
  content: "";
  top: 12px;
  left: 12px;
  position: absolute;
  background-color: #ffb901;
  width: 16px;
  height: 16px;
  border-radius: 100%;
}
.exam .multisteps_form .multisteps_form_panel .form_content .form_items label img {
  width: 100%;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}
.exam .multisteps_form .multisteps_form_panel .form_content .form_items .error {
  color: red;
  padding: 0;
  margin: 0;
  border: none;
  position: absolute;
  top: -25px;
  right: 0;
}
.exam .multisteps_form .multisteps_form_panel .form_content .form_items .error::after {
  display: none;
}
.exam .multisteps_form .multisteps_form_panel .form_content .check-list.form_items label:after {
  border-radius: 2px;
}
.exam .multisteps_form .multisteps_form_panel .form_content .check-list.form_items label input:checked + span.checked:after {
  border-radius: 2px;
}
.exam .multisteps_form .multisteps_form_panel .form_content .conditional {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: var(--secondColor10);
}
.exam .multisteps_form .multisteps_form_panel.active {
  opacity: 1;
  visibility: visible;
  overflow: visible;
  height: auto;
}
.exam .multisteps_form .multisteps_form_panel.active .form_content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.exam .multisteps_form .multisteps_form_panel .form_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}
.exam .multisteps_form .multisteps_form_panel .form_btn .js-btn-next {
  margin-right: auto;
}
.exam .multisteps_form .multisteps_form_panel .correctAnswer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}
.exam .multisteps_form .multisteps_form_panel .correctAnswer .answerBtn {
  color: var(--secondColor);
  font-weight: bold;
  display: flex;
  gap: 8px;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.exam .multisteps_form .multisteps_form_panel .correctAnswer .answerBtn img {
  width: 48px;
  height: 48px;
  border-radius: 100%;
}
.exam .multisteps_form .multisteps_form_panel .correctAnswer .answer {
  padding: 16px;
  border-radius: 16px;
  background-color: var(--secondColor10);
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.exam .multisteps_form .multisteps_form_panel .correctAnswer .answer h6 {
  font-size: 12px;
  color: var(--textColor);
  font-weight: bold;
}
.exam .multisteps_form .multisteps_form_panel .correctAnswer .answer img {
  width: 100%;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

.routeNav {
  display: flex;
  align-items: center;
  border-radius: 16px;
  background-color: var(--bodyColor);
  box-shadow: inset 9px 9px 9px #eeeff0, inset -9px -9px 9px #ffffff;
  padding: 16px;
  padding-right: 24px;
  margin-top: 24px;
  width: min(100% - 20px, 1320px);
  margin: 0px auto;
}
.routeNav .Back {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  height: 40px;
  background-color: var(--mainColor);
  color: var(--whiteColor);
  border-radius: 100%;
  transition: var(--transition);
  font-size: 20px;
  border: none;
}
.routeNav .Back img {
  width: 16px;
  height: 16px;
  transform: scaleX(-1);
  filter: invert(1);
}
.routeNav .Back:hover {
  background-color: var(--mainColor);
}
.routeNav .navigetor {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px;
  margin: 0;
  list-style: none;
}
.routeNav .navigetor li {
  position: relative;
}
.routeNav .navigetor li a {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}
.routeNav .navigetor li a img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: 5px;
  border-radius: 4px;
}
.routeNav .navigetor li::after {
  content: "-";
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}
.routeNav .navigetor li:last-child a {
  color: var(--textColor);
}
.routeNav .navigetor li:last-child::after {
  display: none;
}

.allExamsPage {
  display: flex;
  flex-wrap: wrap;
  border-radius: 16px;
  gap: 16px;
  width: min(100% - 20px, 1320px);
  margin: 0 auto;
}
.allExamsPage .singleExam {
  text-align: center;
  flex: 1;
  min-width: 250px;
  padding: 24px 16px;
  background-color: var(--secondColor10);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  color: var(--blackColor);
  position: relative;
  transition: var(--transition);
}
.allExamsPage .singleExam img {
  height: 60px;
  width: 60px;
  -o-object-fit: contain;
     object-fit: contain;
}
.allExamsPage .singleExam:hover {
  z-index: 2;
  box-shadow: var(--BigShadow);
  transform: translate(0, -5px);
  background-color: var(--secondColor);
  color: var(--whiteColor);
}

.profile {
  width: min(100% - 20px, 1320px);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
@media (max-width: 992px) {
  .profile {
    flex-direction: column;
  }
}
.profile .profileSide {
  padding: 16px;
  border-radius: 16px;
  background-color: var(--mainColor10);
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 260px;
  min-height: calc(100vh - 210px);
}
.profile .profileSide::after {
  content: "";
  width: 6px;
  height: calc(100% - 48px);
  background-color: rgba(64, 106, 179, 0.062745098);
  position: absolute;
  left: 6px;
  bottom: 50%;
  transform: translateY(50%);
  border-radius: 10px;
}
.profile .profileSide .mainTitle {
  font-weight: bold;
  color: var(--textColor);
  margin-bottom: 8px;
}
.profile .profileSide .userInfo {
  background: linear-gradient(45deg, rgba(229, 229, 229, 0.862745098), #ffffff), url(../img/logo.svg);
  background-repeat: no-repeat;
  background-size: cover, 50px 50px;
  background-position: center, 10px calc(100% + 10px);
  padding: 16px;
  border-radius: 12px;
  color: var(--mainColor);
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
.profile .profileSide .userInfo .name {
  font-weight: bold;
}
.profile .profileSide .links {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1;
  flex-wrap: wrap;
}
.profile .profileSide .links a {
  display: flex;
  gap: 8px;
  align-items: center;
  color: var(--textColor);
  padding: 12px 0;
  position: relative;
}
.profile .profileSide .links a .icon {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  filter: grayscale(1);
}
.profile .profileSide .links a.active {
  color: var(--secondColor);
}
.profile .profileSide .links a.active .icon {
  filter: grayscale(0);
}
.profile .profileSide .links a.active::after {
  content: "";
  width: 6px;
  height: 80%;
  background-color: var(--secondColor);
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
  z-index: 1;
}
.profile .profileSide .links .logOut {
  margin-top: auto;
  color: red;
}
.profile .profileSide .links .logOut .icon {
  filter: grayscale(0);
}
@media (max-width: 992px) {
  .profile .profileSide {
    min-height: unset;
    width: 100%;
  }
  .profile .profileSide::after {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
  }
  .profile .profileSide .userInfo {
    width: 100%;
  }
  .profile .profileSide .links {
    flex-direction: row;
  }
  .profile .profileSide .links a {
    padding: 12px;
    width: calc(50% - 2px);
    border-radius: 8px;
  }
  .profile .profileSide .links a.active {
    background-color: var(--secondColor);
    color: var(--whiteColor);
  }
  .profile .profileSide .links a.active .icon {
    filter: brightness(0) invert(1);
  }
  .profile .profileSide .links a.active::after {
    display: none;
  }
}
.profile .profileContent {
  flex: 1;
  min-height: 100px;
  border-radius: 16px;
}
.profile .profileContent form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: auto;
  transition: var(--transition);
  padding: 24px;
  background-color: var(--whiteColor);
  border-radius: 16px;
}
.profile .profileContent form p {
  margin-top: 10px;
}
.profile .profileContent form .col {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

:root {
  --percentsize: 200px;
}

@media (max-width: 576px) {
  :root {
    --percentsize: 100px;
  }
}
.percent {
  position: relative;
  width: var(--percentsize);
  height: var(--percentsize);
  overflow: hidden;
}
.percent .percentNum {
  position: absolute;
  width: calc(var(--percentsize) * 0.8);
  height: calc(var(--percentsize) * 0.8);
  z-index: 1;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
  gap: calc(var(--percentsize) * 0.06);
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #eee;
  transform: translateX(-50%) translateY(-50%);
  font-size: calc(var(--percentsize) * 0.2) !important;
  font-weight: bold;
  line-height: 24px;
}
.percent .percentNum span {
  font-weight: normal;
  color: #777;
  font-size: calc(var(--percentsize) * 0.12) !important;
  margin-bottom: calc(var(--percentsize) * -0.06);
}
.percent .slice {
  position: absolute;
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, var(--percentsize), var(--percentsize), calc(var(--percentsize) / 2));
}
.percent .bar {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(0deg);
}
.percent.p51 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p51 .bar:after {
  transform: rotate(180deg);
}
.percent.p51 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p52 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p52 .bar:after {
  transform: rotate(180deg);
}
.percent.p52 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p53 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p53 .bar:after {
  transform: rotate(180deg);
}
.percent.p53 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p54 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p54 .bar:after {
  transform: rotate(180deg);
}
.percent.p54 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p55 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p55 .bar:after {
  transform: rotate(180deg);
}
.percent.p55 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p56 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p56 .bar:after {
  transform: rotate(180deg);
}
.percent.p56 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p57 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p57 .bar:after {
  transform: rotate(180deg);
}
.percent.p57 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p58 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p58 .bar:after {
  transform: rotate(180deg);
}
.percent.p58 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p59 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p59 .bar:after {
  transform: rotate(180deg);
}
.percent.p59 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p60 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p60 .bar:after {
  transform: rotate(180deg);
}
.percent.p60 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p61 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p61 .bar:after {
  transform: rotate(180deg);
}
.percent.p61 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p62 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p62 .bar:after {
  transform: rotate(180deg);
}
.percent.p62 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p63 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p63 .bar:after {
  transform: rotate(180deg);
}
.percent.p63 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p64 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p64 .bar:after {
  transform: rotate(180deg);
}
.percent.p64 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p65 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p65 .bar:after {
  transform: rotate(180deg);
}
.percent.p65 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p66 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p66 .bar:after {
  transform: rotate(180deg);
}
.percent.p66 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p67 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p67 .bar:after {
  transform: rotate(180deg);
}
.percent.p67 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p68 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p68 .bar:after {
  transform: rotate(180deg);
}
.percent.p68 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p69 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p69 .bar:after {
  transform: rotate(180deg);
}
.percent.p69 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p70 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p70 .bar:after {
  transform: rotate(180deg);
}
.percent.p70 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p71 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p71 .bar:after {
  transform: rotate(180deg);
}
.percent.p71 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p72 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p72 .bar:after {
  transform: rotate(180deg);
}
.percent.p72 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p73 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p73 .bar:after {
  transform: rotate(180deg);
}
.percent.p73 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p74 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p74 .bar:after {
  transform: rotate(180deg);
}
.percent.p74 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p75 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p75 .bar:after {
  transform: rotate(180deg);
}
.percent.p75 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p76 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p76 .bar:after {
  transform: rotate(180deg);
}
.percent.p76 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p77 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p77 .bar:after {
  transform: rotate(180deg);
}
.percent.p77 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p78 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p78 .bar:after {
  transform: rotate(180deg);
}
.percent.p78 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p79 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p79 .bar:after {
  transform: rotate(180deg);
}
.percent.p79 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p80 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p80 .bar:after {
  transform: rotate(180deg);
}
.percent.p80 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p81 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p81 .bar:after {
  transform: rotate(180deg);
}
.percent.p81 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p82 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p82 .bar:after {
  transform: rotate(180deg);
}
.percent.p82 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p83 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p83 .bar:after {
  transform: rotate(180deg);
}
.percent.p83 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p84 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p84 .bar:after {
  transform: rotate(180deg);
}
.percent.p84 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p85 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p85 .bar:after {
  transform: rotate(180deg);
}
.percent.p85 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p86 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p86 .bar:after {
  transform: rotate(180deg);
}
.percent.p86 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p87 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p87 .bar:after {
  transform: rotate(180deg);
}
.percent.p87 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p88 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p88 .bar:after {
  transform: rotate(180deg);
}
.percent.p88 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p89 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p89 .bar:after {
  transform: rotate(180deg);
}
.percent.p89 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p90 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p90 .bar:after {
  transform: rotate(180deg);
}
.percent.p90 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p91 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p91 .bar:after {
  transform: rotate(180deg);
}
.percent.p91 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p92 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p92 .bar:after {
  transform: rotate(180deg);
}
.percent.p92 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p93 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p93 .bar:after {
  transform: rotate(180deg);
}
.percent.p93 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p94 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p94 .bar:after {
  transform: rotate(180deg);
}
.percent.p94 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p95 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p95 .bar:after {
  transform: rotate(180deg);
}
.percent.p95 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p96 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p96 .bar:after {
  transform: rotate(180deg);
}
.percent.p96 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p97 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p97 .bar:after {
  transform: rotate(180deg);
}
.percent.p97 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p98 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p98 .bar:after {
  transform: rotate(180deg);
}
.percent.p98 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p99 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p99 .bar:after {
  transform: rotate(180deg);
}
.percent.p99 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p100 .slice {
  clip: rect(auto, auto, auto, auto);
}
.percent.p100 .bar:after {
  transform: rotate(180deg);
}
.percent.p100 .fill {
  position: absolute;
  border: calc(var(--percentsize) * 0.04) solid var(--secondColor);
  width: var(--percentsize);
  height: var(--percentsize);
  clip: rect(0px, calc(var(--percentsize) / 2), var(--percentsize), 0px);
  border-radius: 50%;
  transform: rotate(180deg);
}
.percent.p1 .bar {
  transform: rotate(3.6deg);
}
.percent.p2 .bar {
  transform: rotate(7.2deg);
}
.percent.p3 .bar {
  transform: rotate(10.8deg);
}
.percent.p4 .bar {
  transform: rotate(14.4deg);
}
.percent.p5 .bar {
  transform: rotate(18deg);
}
.percent.p6 .bar {
  transform: rotate(21.6deg);
}
.percent.p7 .bar {
  transform: rotate(25.2deg);
}
.percent.p8 .bar {
  transform: rotate(28.8deg);
}
.percent.p9 .bar {
  transform: rotate(32.4deg);
}
.percent.p10 .bar {
  transform: rotate(36deg);
}
.percent.p11 .bar {
  transform: rotate(39.6deg);
}
.percent.p12 .bar {
  transform: rotate(43.2deg);
}
.percent.p13 .bar {
  transform: rotate(46.8deg);
}
.percent.p14 .bar {
  transform: rotate(50.4deg);
}
.percent.p15 .bar {
  transform: rotate(54deg);
}
.percent.p16 .bar {
  transform: rotate(57.6deg);
}
.percent.p17 .bar {
  transform: rotate(61.2deg);
}
.percent.p18 .bar {
  transform: rotate(64.8deg);
}
.percent.p19 .bar {
  transform: rotate(68.4deg);
}
.percent.p20 .bar {
  transform: rotate(72deg);
}
.percent.p21 .bar {
  transform: rotate(75.6deg);
}
.percent.p22 .bar {
  transform: rotate(79.2deg);
}
.percent.p23 .bar {
  transform: rotate(82.8deg);
}
.percent.p24 .bar {
  transform: rotate(86.4deg);
}
.percent.p25 .bar {
  transform: rotate(90deg);
}
.percent.p26 .bar {
  transform: rotate(93.6deg);
}
.percent.p27 .bar {
  transform: rotate(97.2deg);
}
.percent.p28 .bar {
  transform: rotate(100.8deg);
}
.percent.p29 .bar {
  transform: rotate(104.4deg);
}
.percent.p30 .bar {
  transform: rotate(108deg);
}
.percent.p31 .bar {
  transform: rotate(111.6deg);
}
.percent.p32 .bar {
  transform: rotate(115.2deg);
}
.percent.p33 .bar {
  transform: rotate(118.8deg);
}
.percent.p34 .bar {
  transform: rotate(122.4deg);
}
.percent.p35 .bar {
  transform: rotate(126deg);
}
.percent.p36 .bar {
  transform: rotate(129.6deg);
}
.percent.p37 .bar {
  transform: rotate(133.2deg);
}
.percent.p38 .bar {
  transform: rotate(136.8deg);
}
.percent.p39 .bar {
  transform: rotate(140.4deg);
}
.percent.p40 .bar {
  transform: rotate(144deg);
}
.percent.p41 .bar {
  transform: rotate(147.6deg);
}
.percent.p42 .bar {
  transform: rotate(151.2deg);
}
.percent.p43 .bar {
  transform: rotate(154.8deg);
}
.percent.p44 .bar {
  transform: rotate(158.4deg);
}
.percent.p45 .bar {
  transform: rotate(162deg);
}
.percent.p46 .bar {
  transform: rotate(165.6deg);
}
.percent.p47 .bar {
  transform: rotate(169.2deg);
}
.percent.p48 .bar {
  transform: rotate(172.8deg);
}
.percent.p49 .bar {
  transform: rotate(176.4deg);
}
.percent.p50 .bar {
  transform: rotate(180deg);
}
.percent.p51 .bar {
  transform: rotate(183.6deg);
}
.percent.p52 .bar {
  transform: rotate(187.2deg);
}
.percent.p53 .bar {
  transform: rotate(190.8deg);
}
.percent.p54 .bar {
  transform: rotate(194.4deg);
}
.percent.p55 .bar {
  transform: rotate(198deg);
}
.percent.p56 .bar {
  transform: rotate(201.6deg);
}
.percent.p57 .bar {
  transform: rotate(205.2deg);
}
.percent.p58 .bar {
  transform: rotate(208.8deg);
}
.percent.p59 .bar {
  transform: rotate(212.4deg);
}
.percent.p60 .bar {
  transform: rotate(216deg);
}
.percent.p61 .bar {
  transform: rotate(219.6deg);
}
.percent.p62 .bar {
  transform: rotate(223.2deg);
}
.percent.p63 .bar {
  transform: rotate(226.8deg);
}
.percent.p64 .bar {
  transform: rotate(230.4deg);
}
.percent.p65 .bar {
  transform: rotate(234deg);
}
.percent.p66 .bar {
  transform: rotate(237.6deg);
}
.percent.p67 .bar {
  transform: rotate(241.2deg);
}
.percent.p68 .bar {
  transform: rotate(244.8deg);
}
.percent.p69 .bar {
  transform: rotate(248.4deg);
}
.percent.p70 .bar {
  transform: rotate(252deg);
}
.percent.p71 .bar {
  transform: rotate(255.6deg);
}
.percent.p72 .bar {
  transform: rotate(259.2deg);
}
.percent.p73 .bar {
  transform: rotate(262.8deg);
}
.percent.p74 .bar {
  transform: rotate(266.4deg);
}
.percent.p75 .bar {
  transform: rotate(270deg);
}
.percent.p76 .bar {
  transform: rotate(273.6deg);
}
.percent.p77 .bar {
  transform: rotate(277.2deg);
}
.percent.p78 .bar {
  transform: rotate(280.8deg);
}
.percent.p79 .bar {
  transform: rotate(284.4deg);
}
.percent.p80 .bar {
  transform: rotate(288deg);
}
.percent.p81 .bar {
  transform: rotate(291.6deg);
}
.percent.p82 .bar {
  transform: rotate(295.2deg);
}
.percent.p83 .bar {
  transform: rotate(298.8deg);
}
.percent.p84 .bar {
  transform: rotate(302.4deg);
}
.percent.p85 .bar {
  transform: rotate(306deg);
}
.percent.p86 .bar {
  transform: rotate(309.6deg);
}
.percent.p87 .bar {
  transform: rotate(313.2deg);
}
.percent.p88 .bar {
  transform: rotate(316.8deg);
}
.percent.p89 .bar {
  transform: rotate(320.4deg);
}
.percent.p90 .bar {
  transform: rotate(324deg);
}
.percent.p91 .bar {
  transform: rotate(327.6deg);
}
.percent.p92 .bar {
  transform: rotate(331.2deg);
}
.percent.p93 .bar {
  transform: rotate(334.8deg);
}
.percent.p94 .bar {
  transform: rotate(338.4deg);
}
.percent.p95 .bar {
  transform: rotate(342deg);
}
.percent.p96 .bar {
  transform: rotate(345.6deg);
}
.percent.p97 .bar {
  transform: rotate(349.2deg);
}
.percent.p98 .bar {
  transform: rotate(352.8deg);
}
.percent.p99 .bar {
  transform: rotate(356.4deg);
}
.percent.p100 .bar {
  transform: rotate(360deg);
}

.allPercent {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.allPercent .percentDiv {
  display: flex;
  gap: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 16px;
  border-radius: 16px;
  background-color: var(--secondColor10);
  text-align: center;
  border: 2px solid var(--secondColor30);
  flex: 1;
  min-width: 120px;
}
.allPercent .count .countLine {
  font-weight: bold;
  font-size: calc(var(--percentsize) * 0.3) !important;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* PC device :992px. */
@media (min-width: 992px) {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 15px;
  }
  a,
p {
    font-size: 14px;
  }
}
/* Tablet device :768px. */
@media (min-width: 768px) and (max-width: 992px) {
  /* Global */
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 21px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 15px;
  }
  a,
p {
    font-size: 14px;
  }
}
/* small mobile :320px. */
@media (max-width: 768px) {
  /* Global */
  body {
    font-size: 13px;
  }
  h1 {
    font-size: 23px;
  }
  h2 {
    font-size: 19px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 17px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 14px;
  }
  a,
p {
    font-size: 13px;
  }
}/*# sourceMappingURL=style.css.map */